@import "global";

form {
    max-width: 600px;
    margin: 0 auto;
}

.desktop-grid {
    $template_rows: 75px;
    display: grid;

    .grid-app {
        display: flex;
        flex-direction: column;

        div.grid-app-icon {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            flex-grow: 1;
        }
        .grid-app-title {
            flex-shrink: 0;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}